/************************************************

Stylesheet: Color Stylesheet

*************************************************/

$primary-color: #dcdddb; // Dark gray
$second-color: #d9d9d9; // Light gray
$third-color: #3d3c3c; // Dark black
$fourth-color: #8c8c8c; // Middle gray
$fifth-color: #6a6a6a; // Dark-soft black
$sixth-color: #464646; // Light-soft black
$seventh-color: #c5c5c5; // Medium gray
$eigth-color: #527286; // Light blue
$ninth-color: #745238; // Light blue




$hover-color: #696868;